.order_main{
    margin-top: 4.5rem;
    background-color:white;
    color: black;
}

.order_all{
    background-color:white;
    width: 80%;
    margin-left: 10%;
    border-bottom: 0.5px solid gray;
}

/* ------------ Order Header  */

.order_all_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.order_heading{
    font-size: 30px;
    color: rgb(30, 30, 30);
}

.search_orders{
    padding: 7px;
    border-radius: 5px;
    width: 300px;
    margin-right: 15px;
    border:0.5px solid black;
}

.search_orders:focus{
    box-shadow: 0 0 10px rgb(0, 217, 255);
}


.order_search_button{
    padding: 7px;
    border-radius: 20px;
    font-weight: 600;
    background-color: rgb(40, 40, 40);
    color: white;
    cursor: pointer;
}

.order_search_button:hover{
    background-color: black;
}


/* ------------------------ Ordered Produst Grid */

.all_order_list{
    padding: 2rem;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}


.order_product_list{
    padding: 1rem;
    border-right: 0.5px solid gray;
    margin-bottom: 20px;
    text-align: center;
}

.order_images{
    width: 200px;
    height: 200px;
    
}

.order_name{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.order_price{
    font-size: 20px;
    margin: 15px;
    font-weight: 600;
}


@media screen and (max-width:600px){


    .all_order_list{
        padding: 1.5rem;
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
    .order_images{
        width: 200px;
        height: 200px;
        
    }

    .order_search_button{
        padding: 4px;
        border-radius: 20px;
        font-weight: 600;
        background-color: rgb(40, 40, 40);
        color: white;
        cursor: pointer;
        margin-top: 10px;
    }

    .search_orders{
        padding: 4px;
        border-radius: 5px;
        width: 150px;
        margin-right: 10px;
        border:0.5px solid black;
    }

    .order_all{
        background-color:white;
        width: 90%;
        margin-left: 5%;
        border-bottom: 0.5px solid gray;
    }
    
}