/* nav bar  */
nav {
    background: black;
    width: 100vw;
    height: 4.5rem;
    position: fixed;
    top: 0;
    z-index: 10;

    
  }

  .amazon_logo{
    width: 150px;
    height: 50px;
    padding: 0.2rem;
  }

  .amazon_logo:hover{
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
  }

  .logo_header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content:center;
    align-items: center;
    padding: 1rem;
  }

  .left_options{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }



  /* --------------Search Box --------------------- */
  .search_box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
  }

  #search{
    width: 85%;
    height: 50%;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 20px;

    
  }

  #search:focus{
    border: 3px solid yellow;
  }

  .search_logo{
    color: black;
    font-size: 20px;
    
  }

  .search_logo_box{
    background-color:orange;
    height: 40px;
    width: 40px;
    margin-left: -40px;
    border-right: 5px;
    border-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
  }
  
  .search_logo_box:hover{
    background-color: rgb(210, 136, 0);
  }
  




  /* ------------------------ left side  */
   
  .sign_in,.return_order{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
  }

  .its_name{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    width: 120px;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  
  
     .sign_in:hover{
      border: 1px solid white;
      cursor: pointer;
      border-radius: 5px;
    }

      .return_order:hover{
        border: 1px solid white;
        cursor: pointer;
        border-radius: 5px;
      }


      .shop{
        font-size: 20px;
      }
      .shopping_cart{
        display: flex;
        text-align: center;
        justify-content: center;
        color: white;
        /* padding: 3px; */

      }

      .shopping_cart:hover{
        border: 1px solid white;
        cursor: pointer;
        border-radius: 5px;
      }
    
      .cart_itemss{
        font-size: 16px;
      }







  @media screen and (max-width: 600px) {
      .container{
          width: var(--containder-width-sm);
      }


      .nav__menu{
          background-color:white;
          display:inline;
          position:absolute;
          right: 14px;
          top: 10vh;
          padding: 10px;
          border-radius: 3px;
          z-index: 2;
          

      }
      

      nav button{
          display: inline;
      }
      /* .nav__menu >li:nth-child(even){ */
      .nav__menu >li {
          margin-top: 3px;
          font-weight: 500;
          
      }

    
   
      
  }