.main_footer{
    z-index: 3;
    position: absolute;
    /* bottom: 0; */
    width: 100%;
    
}

footer{
    background-color: black;
    position: relative;
    display: flex;
    justify-content:space-between;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
  
}

footer > article > a {
    color: white;

}

footer > article > a:hover{
    color: orange;
    text-decoration: underline;
}





footer > article > a > p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.goToTop{
    margin-top: 100px;
    height: 50px;
    background-color: rgb(20, 20, 20);
    display: grid;
    place-items: center;
}

.goToTop > a > h4{
   color: white;
}

.amazon_footer_logo{
    background-color: black;
    height: 100px;
    display: grid;
    place-items: center;
}
.amazon_footer_logo > img {
    width: 120px;
    height: 50px;

}




@media screen and (max-width:600px){
    .amazon_footer_logo{
        display: none;
    }

    footer{
        display: flex;
        flex-direction: column;
    }

    footer > article > h3 {
        color: orange;
        text-decoration: underline;
        margin-top: 10px;
    
    }
    
}